/* login page */
 

    #loginForm .validation-error {
        display: block;
        margin-left: 100px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }




#loginForm input[type="submit"],
#loginForm input[type="button"] {
width:85px;
height:25px;
}
    #loginForm button {
        width: 30px;
        
    }

#socialLoginForm {
    margin-left: 400px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

   /* login page */
    #loginForm {
       border-right: none;
    float: left;
    width:320px;
    position: absolute;
    left: 470px;
     
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    } 

 /* login */
 #login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }



hgroup {
margin:10px;
}
#loginForm h2 {margin:10px; }

.logform {    position: relative;
    width: 490px;
    height: 300px;}
#VerifyImage {
    height:25px;
    width:50px;
}

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
 
 /*---------*/
        fieldset {
    border: none;
    margin: 10px;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}